@model bigschool.ViewModels.FollowingViewModel
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>

<ul class="row">
    @foreach (var course in Model.FollowingCourse)
    {
        <li>
            <div class="details">
                <span class="lecturer">
                    @course.Name
                    @if (Model.ShowAction)
                    {
                        <button data-user-id="@course.Name" class="btn btn-default btn-sm js-toggle-follow">Following</button>
                    }
                </span>
            </div>
        </li>
    }
</ul>
@section scripts5 
{
    <script>
		$(document).ready(function () {
			$(".js-toggle-attendance").click(function (e) {
				var button = $(e.target);
				$.post("/api/attendances", { courseID: button.attr("data-course-id") })
					.done(function() {
						button
							.removeClass("btn-default")
							.addClass("btn-info")
							.text("Going");
					})
					.fail(function() {
						alert("something failed!");
					});
			});
			$(".js-toggle-follow").click(function (e) {
				var button = $(e.target);
				$.post("/api/followings", { followeeId: button.attr("data-user-id") })
					.done(function () {
						button.text("Following");
					})
					.fail(function () {
						alert("something failed!");
					});
			});
		});
    </script>
}

